
# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log

staticfiles/

# Environment
.env
.env.prod
venv/
env/
ENV/
.env
currency_exchange.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Cache
cache/

# OS
.DS_Store
Thumbs.db